@import url(base.css);
@import url(reset.css);
@import url(header.css);
@import url(sidebar.css);
@import url(content.css);
@import url(footer.css);
@import url(menu.css);
body{
    /* Сайт по центру */
    margin: auto;
    /* Ширина сайту */
    max-width: var(--width);
}

.container {
    width: var(--width);

    font-family: var(--font-family-text);
    font-size: var(--font-size-text);

    height: 2494px;
}


.text_h2{
    padding-top: 29px;
    font-size: var(--font-size-h2);
    font-family: var(--font-family-h);
    text-align: center;
}

